<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

</head>

<body>
    <div id="root">
        <!--
            virtual dom會比對新舊的內容不一致才做更新
        -->
        <ul>
            <li v-for="(p,index) in filterPersons" :key="p.id">
                {{p.name}} - {{p.age}}
            </li>
        </ul>

        <input type="text" placeholder="請輸入名稱" v-model="keyWord">
    </div>
</body>

<script>
    new Vue({
        el: "#root",
        data: {
            keyWord: "",
            persons: [
                { id: 001, name: 'yi', age: 26, sex: '男' },
                { id: 002, name: 'ta', age: 27, sex: '男' },
                { id: 003, name: 'ma', age: 28, sex: '女' },
                { id: 004, name: 'ya', age: 30, sex: '女' }
            ],
            // filterPersons: []
        },
        computed:{
            filterPersons(){
                return this.persons.filter(p => p.name.indexOf(this.keyWord) != -1);
            }
        },
        // watch寫法
        // watch: {
        //     keyWord: {
        //         immediate: true, //初始化
        //         handler(newValue) {
        //             this.filterPersons = this.persons.filter(p => p.name.indexOf(newValue) != -1);
        //         }
        //     }
        // }
    })
</script>

</html>